.list-style {
    padding: 0;
    margin: 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:36px;
    li {
        list-style-type: none;
        width:454px;
        height:281px;
        box-sizing:border-box;
    }
}
